@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&family=Roboto:ital,wght@0,400;0,900;1,900&display=swap');

$text-primary: #252525;
$text-secondary: #f7f7f7;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$primary-color: #1ff7a5;
$secondary-color: #dca374;
$background-primary: #d8f9eb;
$background-secondary: hsl(27, 60%, 66%);


html, body, a {
    all: unset;
}
body {
    background-color: #f7f7f7;
}
html {
    scroll-behavior: smooth;
}


.section-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: "Merriweather", serif;
}
.section-text {
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.button1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    color: $text-secondary;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    transition: .25s ease;
    &:hover {
        border-radius: 20px;
    }
    &:active {
        transform: scale(.98);
    }
}


header {
    height: 100vh;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 50px;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    transition: .25s ease;
}
// with the class .scrolled, change background color
.scrolled {
    background: #fff!important;
}



#hero {
    position: relative;
    height: calc(100vh);
    color: $text-primary;
    background: url('../images/hero/hero-desktop.png') no-repeat center center/cover;
    font-family: $font-primary;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media screen and (max-width: 768px) {
        background: url('../images/hero/hero-mobile.png') no-repeat;
        background-position: center top;
        background-size: cover;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #hero-content {
        margin-left: 10%;
        display: flex;
        flex-direction: column;

        
        
        #hero-text {
            h1 {
                font-family: $font-primary;
                font-size: 2.5rem;
                font-weight: 400;
                margin-bottom: 1rem;
                #title-bold {
                    font-weight: 900;
                    transition: .25s ease;
                    font-family: "Merriweather", serif;
                }
            }
            p {
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }
        }

        #mailing-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .5rem;
            justify-content: flex-start;
            margin-bottom: 2rem;
            input {
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                all:unset;
                width: 200px;
                background-color: #fff;
                padding: .5rem 1rem;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 400;
                outline: none;
            }
            button {
                background: $secondary-color;
                color: $text-secondary;
                width: 232px;
                
            }
        }
        @media screen and (max-width: 768px) {
            width: 90%;
            margin: 1rem;
            margin-top: 2rem;
            align-items: center;
            justify-content: center;
    
            #hero-text {
                text-align: center;
            }
            #mailing-list {
                align-items: center;
                justify-content: center;
                input{
                    width: 200px;
                }
                
            }
    
        }
    }  

}

#presentation {
    max-width: 100%;
    margin: 1rem 10%;
    margin-top: 5rem;
    margin-bottom: none;
    #presentation-content {
        display: flex;
        gap: 10%;
        flex-direction: row;
        #presentation-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .break {
                width: 60px;
                height: 2px;
                background: $primary-color;
            }
        }
        #presentation-img {
            img {
                width: 400px;
                border-radius: 10px;
            }
        }
    }
    @media screen and (max-width: 952px) {
        img {
            height: 500px!important;
            width: 100%;
            object-fit: cover;
        }
    }
    @media screen and (max-width: 768px) {
        margin: 2rem;
        #presentation-content {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            #presentation-text {
                text-align: center;
            }
            #presentation-img {
                img {
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                }
            }
        }
    }
    
}


#features {
    padding: 1rem 10%;
    margin-top: 3rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: none;
    background-color: $background-secondary;
    h2 {
        text-align: center;
        color: $text-secondary
    }
    #features-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: .5rem;
        .feature {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 300px;
        }
        .feature-icon {
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            // filter: invert(100%) sepia(4%) saturate(603%) hue-rotate(302deg) brightness(116%) contrast(86%)!important;
            p {
                all:unset;
                font-size:90px;
                font-family: $font-primary;
                text-align: center;
            }
        }
        .feature-text {
            width: 100%;
            text-align: center;
            color: $text-secondary
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .feature {
                margin-bottom: 2rem;
            }
        }
    }
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button {
            background: $primary-color;
            font-size: 1.2rem;
            color: $text-primary
        }
        .contact-form {
            border: 1px solid
        }
    }
    padding: 0 10%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#footer {
    background-color: $background-primary;
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #footer-img {
        margin-bottom: 1rem;
    }
    img {
        width: 200px;
        object-fit: cover;
    }
    ul {
        li {
            text-align: center;
            cursor: pointer;
            &:hover {
                color: $secondary-color;
            }

        }
        all:unset;
        list-style-type: none;
    }
}
